<form [formGroup]="laborMarketStatusForm" class="form-group">
    <div class="form-group">
        <div class="form-check">
            <input class="form-check-input" formControlName="unemployedPerson" type="checkbox" [checked]="laborMarketStatusInput.unemployedPerson" id="unemployedPerson">
            <label class="form-check-label w-100" for="unemployedPerson" data-bs-toggle="tooltip" data-bs-placement="top" title="Oznacza osobę, która ukończyła 18 lat i nie uczy się w systemie dziennym, ponadto jest osobą  niezatrudnioną, nieprowadzącą działalności gospodarczej i niewykonującą innej pracy zarobkowej, zdolną i gotową do podjęcia zatrudnienia">
        Bezrobotny
              <span class="float-right"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-info-circle" viewBox="0 0 16 16">
      <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
      <path d="M8.93 6.588l-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
    </svg>
    </span>
      </label>
        </div>
        <div *ngIf="laborMarketStatusForm.get('unemployedPerson').value" class="form-check ml-3">
            <input class="form-check-input" formControlName="longTermUnemployed" type="checkbox" [checked]="laborMarketStatusInput.longTermUnemployed" id="longTermUnemployed">
            <label class="form-check-label" for="longTermUnemployed">
              Dlugo trwale bezrobotny
      </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" formControlName="professionallyInactive" type="checkbox" [checked]="laborMarketStatusInput.professionallyInactive" id="professionallyInactive">
            <label class="form-check-label w-100" for="professionallyInactive" data-bs-toggle="tooltip" data-bs-placement="top" title="To osoba pozostającą bez zatrudnienia (osoba w wieku 15-64 lata niezatrudniona, niewykonująca innej pracy zarobkowej, zdolna i gotowa do podjęcia zatrudnienia lub innej pracy zarobkowej w co najmniej połowie wymiaru czasu pracy), która jednocześnie nie zalicza się do kategorii bezrobotni.">
              Bierny zawodowo
              <span class="float-right"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-info-circle" viewBox="0 0 16 16">
      <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
      <path d="M8.93 6.588l-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
    </svg>
    </span>
      </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" formControlName="learningPerson" type="checkbox" [checked]="laborMarketStatusInput.learningPerson" id="learningPerson">
            <label class="form-check-label" for="learningPerson">
              Osoba uczaca sie lub ksztalcaca
      </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" formControlName="notLearningPerson" type="checkbox" [checked]="laborMarketStatusInput.notLearningPerson" id="notLearningPerson">
            <label class="form-check-label" for="notLearningPerson">
              Osoba nieuczestniczaca w ksztalceniu lub szkoleniu
      </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" formControlName="other" type="checkbox" [checked]="laborMarketStatusInput.other" id="other">
            <label class="form-check-label" for="other">
              Inne
      </label>
        </div>

        <div class="form-check">
            <input class="form-check-input" formControlName="working" type="checkbox" [checked]="laborMarketStatusInput.working" id="working">
            <label class="form-check-label" for="working">
              Pracujacy
      </label>
        </div>
        <div *ngIf="laborMarketStatusForm.get('working').value" class="form-check ml-3">
            <input class="form-check-input" formControlName="selfEmployed" type="checkbox" [checked]="laborMarketStatusInput.selfEmployed" id="selfEmployed">
            <label class="form-check-label w-100" for="selfEmployed" data-bs-toggle="tooltip" data-bs-placement="top" title="Osoba fizyczna prowadząca działalność gospodarczą nie zatrudniająca pracowników">
              Dzialanosc na wlasny rachunek
              <span class="float-right"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-info-circle" viewBox="0 0 16 16">
      <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
      <path d="M8.93 6.588l-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
    </svg>
    </span>
      </label>
        </div>
        <div *ngIf="laborMarketStatusForm.get('working').value" class="form-check ml-3">
            <input class="form-check-input" formControlName="employedInMicroSmallMediumEnterprise" type="checkbox" [checked]="laborMarketStatusInput.employedInMicroSmallMediumEnterprise" id="employedInMicroSmallMediumEnterprise">
            <label class="form-check-label" for="employedInMicroSmallMediumEnterprise">
              Zatrudniony w mikro malym lub srednim przedsiebiorstwie
      </label>
        </div>
        <div *ngIf="laborMarketStatusForm.get('working').value" class="form-check ml-3">
            <input class="form-check-input" formControlName="employedInBigEnterprise" type="checkbox" [checked]="laborMarketStatusInput.employedInBigEnterprise" id="employedInBigEnterprise">
            <label class="form-check-labe w-100" for="employedInBigEnterprise" data-bs-toggle="tooltip" data-bs-placement="top" title=" Osoba pracująca w przedsiębiorstwie zatrudniającym powyżej 249 pracowników">
              Zatrudniony w duzym przedsiobiorstwie
              <span class="float-right"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-info-circle" viewBox="0 0 16 16">
      <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
      <path d="M8.93 6.588l-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
    </svg>
    </span>
    </label>
        </div>
        <div *ngIf="laborMarketStatusForm.get('working').value" class="form-check ml-3">
            <input class="form-check-input" formControlName="employedInGovernmentAdministration" type="checkbox" [checked]="laborMarketStatusInput.employedInGovernmentAdministration" id="employedInGovernmentAdministration">
            <label class="form-check-label w-100" for="employedInGovernmentAdministration" data-bs-toggle="tooltip" data-bs-placement="top" title="Osoba zatrudniona w administracji rządowej i samorządowej oraz w ich jednostkach organizacyjnych">
              Zatrudniony w administracji rzadowej
              <span class="float-right"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-info-circle" viewBox="0 0 16 16">
      <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
      <path d="M8.93 6.588l-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
    </svg>
    </span>
    </label>
        </div>
        <div *ngIf="laborMarketStatusForm.get('working').value" class="form-check ml-3">
            <input class="form-check-input" formControlName="employedInLocalGovernmentAdministration" type="checkbox" [checked]="laborMarketStatusInput.employedInLocalGovernmentAdministration" id="employedInLocalGovernmentAdministration">
            <label class="form-check-label" for="employedInLocalGovernmentAdministration">
              Zatrudniony w administracji samorzadowej
    </label>
        </div>
        <div *ngIf="laborMarketStatusForm.get('working').value" class="form-check ml-3">
            <input class="form-check-input" formControlName="employedInNonGovernmentalOrganization" type="checkbox" [checked]="laborMarketStatusInput.employedInNonGovernmentalOrganization" id="employedInNonGovernmentalOrganization">
            <label class="form-check-label w-100" for="employedInNonGovernmentalOrganization" data-bs-toggle="tooltip" data-bs-placement="top" title="Osoba zatrudniona w organizacji pozarządowej w rozumieniu ustawy o działalności pożytku publicznego i wolontariacie">
              Zatrudniony w oragnizacji pozarzadowej
              <span class="float-right"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-info-circle" viewBox="0 0 16 16">
      <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
      <path d="M8.93 6.588l-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
    </svg>
    </span>
    </label>
        </div>
        <div *ngIf="laborMarketStatusForm.get('working').value" class="form-group ml-3">
            <label> Nazwa Zakladu Pracy :</label>
            <input type="text" formControlName="nameOfWorkplace" class="form-control" name="nameOfWorkplace" placeholder="Wpisz nazwe swojego zakładu pracy">
            <div class="alert alert-warning mt-1" *ngIf="laborMarketStatusForm.get('nameOfWorkplace').invalid && laborMarketStatusForm.get('nameOfWorkplace').touched">
                Błąd przy nazwie zakładu pracy
            </div>
        </div>
        <div *ngIf="laborMarketStatusForm.get('working').value" class="form-group ml-3">
            <label> Wykonywany Zawód :</label>
            <input type="text" formControlName="occupationPerformed" class="form-control" name="occupationPerformed" placeholder="Wpisz swój wykonywany zawód">
            <div class="alert alert-warning mt-1" *ngIf="laborMarketStatusForm.get('occupationPerformed').invalid && laborMarketStatusForm.get('occupationPerformed').touched">
                Błąd przy wykonywanym zawodzie
            </div>
        </div>
        <div class="form-check">
            <input class="form-check-input" formControlName="nationalMinority" type="checkbox" [checked]="laborMarketStatusInput.nationalMinority" id="nationalMinority">
            <label class="form-check-label" for="nationalMinority">
              Mniejszosc narodowa
      </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" formControlName="emigrant" type="checkbox" [checked]="laborMarketStatusInput.emigrant" id="emigrant">
            <label class="form-check-label" for="emigrant">
               Emigrant
      </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" formControlName="disabledPerson" type="checkbox" [checked]="laborMarketStatusInput.disabledPerson" id="disabledPerson">
            <label class="form-check-label" for="disabledPerson">
              Osoba niepelnosprawna
      </label>
        </div>

    </div>
    <button type="button" (click)="next()" [disabled]="laborMarketStatusForm.invalid" class="btn btn-danger mt-1 mb-1">Dalej</button>
    <button type="button" (click)="previous()" class="btn btn-danger mt-1 mb-1">Cofnij</button>
</form>
