<form [formGroup]="directionOfEducationForm" class="form-group">
  <div *ngIf="directionOfEducationForm.get('nameUniversity').value === null || directionOfEducationForm.get('nameUniversity').value === 'Akademia Marynarki Wojennej im.Bohaterow Wasterpllatte'" class="form-group">
    <label> Nazwa Uczelni :</label>
    <select class="form-control form-control-xs" formControlName="nameUniversity">
      <option [ngValue]="null">Wybierz jedno...</option>
      <option [ngValue]="'Akademia Marynarki Wojennej im.Bohaterow Wasterpllatte'">Akademia Marynarki Wojennej im. Bohaterow Wasterpllatte</option>
      <option [ngValue]="'Inne'">Inna Uczelnia</option>
    </select>
  </div>
  <div *ngIf="directionOfEducationForm.get('nameUniversity').value !== null && directionOfEducationForm.get('nameUniversity').value !== 'Akademia Marynarki Wojennej im.Bohaterow Wasterpllatte'" class="form-group">
    <label> Nazwa Uczelni :</label>
    <select class="form-control form-control-xs" formControlName="nameUniversity" >
      <option [ngValue]="null">Wybierz jedno...</option>
      <option [ngValue]="'Akademia Marynarki Wojennej im.Bohaterow Wasterpllatte'">Akademia Marynarki Wojennej im. Bohaterow Wasterpllatte</option>
      <option [selected]="true" [ngValue]="'Inne'">Inna Uczelnia</option>
    </select>
  </div>
  <div *ngIf="directionOfEducationForm.get('nameUniversity').value !== null && directionOfEducationForm.get('nameUniversity').value !== 'Akademia Marynarki Wojennej im.Bohaterow Wasterpllatte'">
    <div  class="form-group">
      <input type="text" formControlName="nameUniversity" class="form-control" name="nameUniversity" placeholder="Wpisz nazwe uczelni">
      <div class="alert alert-warning mt-1" *ngIf="directionOfEducationForm.get('nameUniversity').invalid && directionOfEducationForm.get('nameUniversity').touched">
        Błąd przy nazwe uczelni
      </div>
    </div>
    <div class="form-group">
      <label> Wydział :</label>
      <input type="text" formControlName="department" class="form-control" name="department" placeholder="Wpisz swoj wydzial">
      <div class="alert alert-warning mt-1" *ngIf="directionOfEducationForm.get('department').invalid && directionOfEducationForm.get('department').touched">
        Błąd przy wydziele
      </div>
    </div>
    <div class="form-group">
      <label> Kierunek :</label>
      <input type="text" formControlName="fieldOfStudy" class="form-control" name="fieldOfStudy" placeholder="Wpisz swoj kierunek">
      <div class="alert alert-warning mt-1" *ngIf="directionOfEducationForm.get('fieldOfStudy').invalid && directionOfEducationForm.get('fieldOfStudy').touched">
        Błąd przy kiernku studiów
      </div>
    </div>
  </div>
  <div *ngIf="directionOfEducationForm.get('nameUniversity').value === 'Akademia Marynarki Wojennej im.Bohaterow Wasterpllatte'">
    <div class="form-group">
      <label>Wydział:</label>
      <select id="propertyTypeDepartment" class="form-control form-control-xs" formControlName="department">
        <option [ngValue]="null">Wybierz jedno...</option>
        <option [ngValue]="'other'">Inny wydzial</option>
        <option *ngFor="let department of departments" [ngValue]="department.nameDepartments">{{department?.shortcut}} - {{department?.nameDepartments}}</option>
      </select>
      <div class="alert alert-warning mt-1" *ngIf="directionOfEducationForm.get('department').invalid && directionOfEducationForm.get('department').touched">
        Błąd przy wydziele
      </div>
    </div>
    <div class="form-group">
      <label>Kierunek Studiów :</label>
      <select id="propertyTypeFieldOfStudy" class="form-control form-control-xs" formControlName="fieldOfStudy">
        <option [ngValue]="null">Wybierz jedno...</option>
        <option [ngValue]="'other'">Inny Kierunek</option>
        <ng-container *ngFor="let field of courser">
        <option *ngIf="field?.universityDepartments.nameDepartments == directionOfEducationForm.get('department').value" [ngValue]="field.nameCourses">{{field?.nameCourses}} - {{field?.universityDepartments.nameDepartments}}</option>
        </ng-container>
      </select>
      <div class="alert alert-warning mt-1" *ngIf="directionOfEducationForm.get('fieldOfStudy').invalid && directionOfEducationForm.get('fieldOfStudy').touched">
        Błąd przy kiernku studiów
      </div>
    </div>
  </div>
  <div class="form-group">
    <label> Specjalność :</label>
    <input type="text" formControlName="profile" class="form-control" name="profile" placeholder="Wpisz swoją specjalność">
    <div class="alert alert-warning mt-1" *ngIf="directionOfEducationForm.get('profile').invalid && directionOfEducationForm.get('profile').touched">
      Błąd przy specjalność
    </div>
  </div>
  <div class="form-group">
    <label>Poziom studiow :</label>
    <select id="propertyTypeDegreeOfStudies" class="form-control form-control-xs" formControlName="degreeOfStudies">
      <option [ngValue]="null">Wybierz jedno...</option>
      <option *ngFor="let degree of degreeOfStudy | keyvalue" [ngValue]="degree.value">{{degree.value}}</option>
    </select>
    <div class="alert alert-warning mt-1" *ngIf="directionOfEducationForm.get('degreeOfStudies').invalid && directionOfEducationForm.get('degreeOfStudies').touched">
     Błąd przy poziomie studiów
    </div>
  </div>
  <div class="form-group">
    <label> Rok rozpoczecia studiów :</label>
    <input type="text" formControlName="yearStartStudy" class="form-control" name="yearStartStudy" placeholder="Wpisz swoj rok rozpoczecia studiow">
    <div class="alert alert-warning mt-1" *ngIf="directionOfEducationForm.get('yearStartStudy').invalid && directionOfEducationForm.get('yearStartStudy').touched">
      Błąd przy roku rozpoczecia studiow
    </div>
  </div>
  <button type="button" (click)="next()" [disabled]="directionOfEducationForm.invalid" class="btn btn-danger mt-1 mb-1" >Dalej</button>
  <button type="button" (click)="previous()" class="btn btn-danger mt-1 mb-1" >Cofnij</button>
</form>
